.container {
  height: 100%;
  border: 1px solid black;
}

.tabContainer {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  border-bottom: 2px solid #ccc;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: bold;
  color: #aaa;
  border-bottom: 2px solid transparent;
}

.active {
  color: black;
  border-bottom: 2px solid black;
}

.paymentItem {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.payContent {
  
}

.settleButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4b72e1;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}
