/* main-container 스타일 */
.mainContainer {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  margin: 0px auto;
  padding: 0px;
  box-sizing: border-box;
}

.first,
.second {
  margin: 0px 10px;
  /* border: 2px solid blue; */
}

.first {
  margin-top: 30px;
  margin-bottom: 70px;
}

.second {
  padding-bottom: 120px;
}

/* 질문 위치 */
.question {
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 15px;
  width: 90%;
}

.subtitle {
  font-size: small;
  padding-left: 2px;
}

/* 추가 버튼 */
/* button.btnAdd {
  background-color: #007bff;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 8px;
  width: 80px;
}

button.btnAdd:hover {
  background-color: #0056b3;
} */

.first input {
  width: 75%;
  padding: 10px 12px; /* 패딩을 조금 넓게 설정 */
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  margin-left: 15px;
}

/* chip-container */
.chipContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px; /* 칩 사이 간격 */
  margin: 12px 17px;
  width: 91%; /* 가로로 전체를 채움 */
  justify-content: flex-start;
  align-items: flex-start;
  /* border: 2px solid blue; */
}

/* 날짜 입력 필드 */
.second input {
  width: 42%;
  margin: 10px;
  padding: 12px; /* 패딩을 조금 넓게 설정 */
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
}

.dropdown {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.memberItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.profileImage {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}